/* screen - index */

body {
  margin: 0;
  background: #262332;
}

.container-center {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  min-height: 100vh; /* Ensure full viewport height */
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  gap: 133px;
  height: 1080px;
  padding: 134.0px 273.2px;
  width: 1920px;
}

.index .website_-homepage-scroll_-logo {
  align-self: center;
  height: 595px;
  margin-right: 10.28px;
  object-fit: cover;
  width: 296px;
}

.index ._button-container {
  gap: 273px;
  min-width: 1374px;
}

.index ._button {
  height: 83px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  min-width: 276px;
}

.index .profile_text_button,
.index .projects_text_button,
.index .contact_text_button {
  font-family: "FuturaPT-Book", Helvetica;
  font-size: 24px;
  letter-spacing: 0.7em;
  line-height: 84px; /* Center vertically */
  text-align: center;
  white-space: nowrap;
  color: var(--smashed-pumpkin);
  margin-right: calc(-0.35em); /* Move to the right by half of the letter-spacing value */
}


.index .special_button {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  color: white;
  border-radius: 41.67px;
  height: 84px;
  position: relative;
  width: 277px;
  border: 1px solid;
  border-color: var(--smashed-pumpkin);
  border-radius: 41.67px;
}

.index ._button_flex_align {
  align-items: flex-start;
  display: flex;
}
