:root { 
  --smashed-pumpkin: #f26a38;
 
  --font-size-m: 24px;
 
  --font-family-futurapt-book: "FuturaPT-Book", Helvetica;
}
.futurapt-book-normal-smashed-pumpkin-24px {
  color: var(--smashed-pumpkin);
  font-family: var(--font-family-futurapt-book);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 100;
}
