body {
    background-color: #262332;
    color: #ffffff;
    font-family: 'FuturaPT-Book';
    font-weight: normal; /* Explicitly set to normal */
    font-style: normal; /* Explicitly set to normal */
}
